x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]bj/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

*.nupkg
*.snupkg

~$*
*~
CodeCoverage/

*.binlog

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml
nunit-*.xml